*.o
*.pyc
*.dll
*.exe
pd.*.z64
build
.flatpak-builder
extracted
/android/app/.cxx/
src/assets/*/*.bin
src/assets/*/*.ctl
src/assets/*/*.tbl
src/assets/*/animations/*.bin
src/assets/*/files/audio/*.mp3
src/assets/*/files/bgdata/*.bin
src/assets/*/files/bgdata/*.seg
src/assets/*/files/chrs/*.bin
src/assets/*/files/guns/*.bin
src/assets/*/files/props/*.bin
src/assets/*/files/ob/ob_mid.seg
src/assets/*/fonts/*.bin
src/assets/*/sequences/*.seq
src/assets/*/textures/*.bin
src/generated
tools/mkrom/mkrom
/.vs
CppProperties.json
.idea
cmake-build-debug
android/keystore.properties
android/perfectdark-release.keystore
*.keystore
*.jks
android/.gradle/8.0/checksums/checksums.lock
android/.gradle/8.0/dependencies-accessors/dependencies-accessors.lock
android/.gradle/8.0/dependencies-accessors/gc.properties
android/.gradle/8.0/executionHistory/executionHistory.bin
android/.gradle/8.0/executionHistory/executionHistory.lock
android/.gradle/8.0/fileChanges/last-build.bin
android/.gradle/8.0/fileHashes/fileHashes.bin
android/.gradle/8.0/fileHashes/fileHashes.lock
android/.gradle/8.0/fileHashes/resourceHashesCache.bin
android/.gradle/8.0/gc.properties
android/.gradle/buildOutputCleanup/buildOutputCleanup.lock
android/.gradle/buildOutputCleanup/cache.properties
android/.gradle/buildOutputCleanup/outputFiles.bin
android/.gradle/config.properties
android/.gradle/file-system.probe
android/.gradle/vcs-1/gc.properties
